
    {{ define "ContactForm.html" }}
    <link href="static/css/ContactForm.css" rel="stylesheet">
    <section class="u-align-center u-clearfix u-white u-section-4" id="sec-0b10">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h3 class="u-text u-text-default u-text-1">Свяжитесь с нами</h3>
            <div class="u-form u-form-1">
                <form
                    id="contactForm"
                    action="/contact"
                    method="POST"
                    class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                    style="padding: 10px"
                    source="email"
                    name="form"
                >
                    <div class="u-form-group u-form-name u-label-none">
                        <label for="name-3b9a" class="u-label">Имя</label>
                        <input type="text" placeholder="Ваше имя" id="name-3b9a" name="name" class="u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-select u-label-none">
                        <label for="contact-type" class="u-label">Контактный способ</label>
                        <select id="contact-type" name="contactType" class="u-input u-input-rectangle">
                            <option value="email">Почта</option>
                            <option value="phone">Телефон</option>
                        </select>
                    </div>
                    <div class="u-form-group u-form-contact u-label-none">
                        <label id="contact-label" for="contact-info" class="u-label">Почта</label>
                        <input type="text" placeholder="Почта для связи" id="contact-info" name="contactInfo" class="u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-select u-label-none u-form-group-3">
                        <label for="select-a9e2" class="u-label">Услуги</label>
                        <div class="u-form-select-wrapper">
                            <select id="select-a9e2" name="selectOption" class="u-input u-input-rectangle">
                                <option value="OSAGO" data-calc="OSAGO">ОСАГО</option>
                                <option value="KASKO" data-calc="KASKO">КАСКО</option>
                                <option data-calc="HOUSE" value="HOUSE">Квартира</option>
                                <option data-calc="DOM" value="DOM">Дом, дача</option>
                            </select>
                        </div>
                    </div>
                    <div class="u-form-group u-form-message u-label-none">
                        <label for="message-3b9a" class="u-label">Сообщение</label>
                        <textarea placeholder="Вопросы или предложения (не обязательно)" rows="4" cols="50" id="message-3b9a" name="message" class="u-input u-input-rectangle" required=""></textarea>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                        <button type="submit" class="u-btn u-btn-submit u-button-style u-custom-color-1 u-btn-1">Отправить</button>
                    </div>
                    <div id="successMessage" class="u-form-send-message u-form-send-success" style="display: none;">Спасибо! Ваше сообщение отправлено.</div>
                    <div id="errorMessage" class="u-form-send-error u-form-send-message" style="display: none;">Не удалось отправить сообщение. Пожалуйста, исправьте ошибки и попробуйте снова.</div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="12d36e09-9e44-4f02-6891-f92ad772961e">
                </form>
            </div>
        </div>
    </section>
{{ end }}