<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Страхование ОСАГО</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Страхование ОСАГО" name="keywords">
  <meta content="Страхование ОСАГО" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body id="body">


  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">ТвойАгент</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Главная</a></li>
          <li><a href="/osago">ОСАГО</a></li>
          <li><a href="/kasko">КАСКО</a></li>
          <li><a href="/house">Квартира</a></li>
          <li><a href="/dom">Дом</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Полис <span> Осаго </span><br></h2>
      <div>
        <a href="https://wa.me/79137744455" class="btn-get-started scrollto">Whatsapp</a>
        <a href="#portfolio" class="btn-projects scrollto">Telegram</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('static/img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('static/img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('static/img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('static/img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('static/img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

  

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="col-lg-6 content">
        <h2>Что такое полис ОСАГО и для чего он нужен?</h2>
        <h3>ОСАГО - это обязательное страхование гражданской ответственности автовладельцев - является обязательным с момента вступления в силу Федерального закона РФ от 25 апреля 2002 г. № 40-ФЗ "Об обязательном страховании гражданской ответственности владельцев транспортных средств". Этот вид страхования обеспечивает защиту ваших имущественных интересов при нанесении ущерба здоровью, жизни или имуществу третьих лиц.</h3>
        <h3>Застраховав свою гражданскую ответственность, в случае виновности, Вы избавляетесь от забот по возмещению нанесенного ущерба. Убытки, которые в результате Ваших действий понёс второй участник, будет компенсировать страховая компания. То есть ОСАГО — гарант того, что человек, пострадавший из-за Вас, получит компенсацию для восстановления авто и/или здоровья.</h3>
        <h3>Действие полиса ОСАГО распространяется только на территорию Российской Федерации.</h3>
      </div>
        </div>

      </div>
    </section><!-- #about -->

    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Страхование Онлайн. Как это работает?</h3>
            <p class="cta-text"> Больше не нужно ездить в страховую компанию и тратить время на дорогу: сегодня вы можете оформить страхование онлайн, не выходя на улицу. Электронный страховой полис имеет ту же юридическую силу, что и бумажный, и обладает теми же преимуществами.</p>
        </div>
      </div>
    </section><!-- #call-to-action -->




    {{ template "ContactForm.html" . }}
    
    <!-- #contact -->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Где нас найти?</h2>
          <p></p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Адрес</h3>
              <address>Кольцово</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Телефон</h3>
              <p><a href="https://wa.me/79137744455">+7 (913) 77 444 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Почта</h3>
              <p><a href="mailto:aksenov100@yandex.ru">aksenov100@yandex.ru</a></p>
            </div>
          </div>

        </div>
      </div>
    </section>
    


  <!--==========================
    Footer
  ============================-->

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/lib/sticky/sticky.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
